/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Roboto:wght@500&family=Ubuntu&display=swap');

/* Wildcard selector to ensure override of default browser styling */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #030000;
    font-family: 'Nanum Gothic', Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    max-width: 100%;
}

/* Homepage */
main {
    display: flex;
    flex-direction: column;
    margin: auto;
}

header #logo {
    padding: 10px;
    height: 20px;
    text-align: right;
}

#homepage-background {
    /* height: 180px; */
    width: 100%;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    height: 170px;
    align-items: center;
    justify-content: space-evenly;
}

.welcome-text h1 {
    padding: 5px;
    margin-top: 10px;
    color: linear-gradient(0deg, rgba(240,224,188,1) 19%, rgba(210,175,123,1) 66%);
    /* Check style to see if it looks right */
    text-shadow: #C28347 1px 0 3px;
    text-align: center;
    font-size: 45px;
    font-family: 'Leckerli One', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: light;
}

.welcome-text h3 {
    padding: 5px;
    margin: 15px;
    text-align: center;
    color: #270802;
    text-shadow: hsl(29, 50%, 52%) 1px 0 3px;
    background-color: #844D29;
    border-radius: 30px;
    border-style:dashed;
    border-color: #AA7039;
    opacity: 0.6;
    font-family: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

#btn-go-to-quiz {
    width: 100px;
    padding: 3px;
    margin-top: 15px;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    background: linear-gradient(0deg, rgba(210,175,123,1) 19%, rgba(194,131,71,1) 66%);
    color: #502616;
    border-radius: 12px;
    box-shadow: 1px 1px 1px 1px #844D29;
}

/* Quiz Page */
.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(3, 0, 0, 0.5), rgba(210, 163, 55, 0.5), rgba(3, 0, 0, 0.5));
    opacity: 0.9;
    border-radius: 250px;
    height: 450px;
    width: 250px;
    margin: auto;
}

#question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #030000;
    height: 340px;
    width: 200px;
    opacity: 0.5;
    border-radius: 110px;
}

#question-number {
    padding-top: 5px;
    color: #C28347;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

#question {
    color: #C28347;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    font-family: 'Leckerli One', Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

#answers {
    color: #C28347;
    font-weight: bold;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
}

#answers button {
    height: 20px;
    width: 200px;
    margin: 5px 0;
    border-radius: 10px;
    background-color: #AA7039;
    box-shadow: 1px 1px 2px 2px #502616;
    color: #270802;
    font-weight: bold;
    font-family: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
}

.answer {
    color: #844D29;
}

#tally-container {
    display: flex;
    flex-direction: row;
}

#tally-text {
    margin: 10px auto;
    color: #C28347;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

#running-tally {
    color: #C28347;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

#btn-forward {
    margin: 0 15px;
    padding: 2px;
    border-radius: 10px;
    width: 70px;
    background-color: #502616;
    color: #AA7039;
    font-weight: bold;
    box-shadow: 1px 1px 3px 1px #AA7039;
}

/* Result Page */
.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 500px;
    width: 250px;
    background-color: #660000;
    opacity: 0.4;
    border-radius: 100px;
}

.result-container video {
   height: 150px;
   margin: 10px 0;
}

.result-container h1 {
    padding: 5px;
    color: #C28347;
    text-shadow: #E31837 1px 0 3px;
    font-family: 'Leckerli One', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
}

.score-container {
    padding: 10px;
    text-align: center;
    color: #C28347;
    text-shadow: #E31837 1px 0 3px;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

#score-text {
    margin: 10px;
}

.score-container button {
    height: 30px;
    width: 90px;
    margin: 15px;
    color: #C28347;
    text-shadow: #E31837 1px 0px 3px;
    background: linear-gradient(0deg, rgba(132, 77, 41, 0.5), rgba(194, 131, 71, 0.5), rgba(132, 77, 41, 0.5));
    border-radius: 12px;
    box-shadow: 1px 1px 1px 1px #844D29;
    font-weight: bold;
    font-family: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
}

.invisible {
    display: none;
}

@media only screen and (min-width: 768px) {
    /* Home Page */
    main {
        margin-top: 5%;
    }

    #homepage-background {
        height: 100%;
    }
    
    .welcome-text h1 {
        font-size: 300%;
    }

    .welcome-text h3 {
        height: 80px;
        width: 250px;
        font-size: 18px;
    }

    /* Quiz Questions */
    .quiz-container {
        height: 550px;
        width: 80%;
        margin: 20px auto 50px;
    }

    #question-container {
        height: 80%;
        width: 90%;
        border-radius: 45%;
    }

    #question {
        font-size: 180%;
        margin: 0 40px;
    }

    .answer {
        font-size: 110%;
    }

    #answers button {
        height: 20px;
        width: 400px;
        margin: 10px 0;
        font-size: 80%;
    }

    #tally-container {
        padding: 10px;
    }

    #tally-text {
        font-size: 120%;
    }

    #button-container {
        padding: 5%;
    }

    #btn-forward {
        margin: 0 50px;
        width: 20%;
    }
}